<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo-sm-d.png'%}" />
    <!-- App favicon -->
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Green_check.svg/900px-Green_check.svg.png?20250911125822"
            width="200px"
            class="img-responsive img-circle center-block mt-5"
          />
          <h3>Dear, User</h3>
          <p style="font-size: 20px; color: #5c5c5c">
            A Reset link has been successfully sent to your email. Open the link
            to reset your password.
          </p>
          <a href="/" class="btn btn-success">     Back to Home     </a>
          <br /><br />
        </div>
      </div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>
