<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log In | USSSA - Capacity Building</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
    />
    <meta name="author" content="Zoyothemes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/logos.png'%}" />
    <!-- App favicon -->

    {% include "assets/css.html" %}
  </head>

  <body>
    <!-- Begin page -->
    <div
      class="account-page"
      style="background-image: url({% static 'img/login.jpg' %})"
    >
      <div class="container-fluid p-0">
        <div class="row align-items-center g-0 px-3 py-3 vh-100">
          <div class="col-xl-5">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <div class="mb-0 p-0 p-lg-3">
                      <div class="mb-0 border-0 p-md-4 p-lg-0">
                        <div class="mb-3 p-0 text-center">
                          <div class="auth-brand">
                            <a class="logo logo-light" href="/">
                              <span class="logo-lg">
                                <img
                                  src="{% static 'img/logo.png'%}"
                                  alt=""
                                  height="24"
                                />
                              </span>
                            </a>
                            <a class="logo logo-dark" href="/">
                              <span class="logo-lg">
                                <img
                                  src="{% static 'img/logo-lg.png'%}"
                                  alt=""
                                  height="60"
                                />
                              </span>
                            </a>
                          </div>
                        </div>

                        <div class="auth-title-section mb-4 text-center">
                          <h3 class="text-primary fw-semibold mb-1">
                            Welcome Back !
                          </h3>
                          <p class="text-muted fs-14 mb-0">
                            Hey, Enter your details to get sign in to your
                            account.
                          </p>
                        </div>
                        {% if messages %} {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %} {% endif %}

                        <div class="pt-0">
                          <form action="" class="my-4" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                              <label for="emailaddress" class="form-label"
                                >Email address</label
                              >
                              <input
                                class="form-control"
                                type="text"
                                id="username"
                                name="username"
                                required=""
                                placeholder="Enter your username"
                              />
                            </div>

                            <div class="form-group mb-3">
                              <label for="password" class="form-label"
                                >Password</label
                              >
                              <input
                                class="form-control"
                                type="password"
                                required=""
                                id="password"
                                name="password"
                                placeholder="Enter your password"
                              />
                            </div>

                            <div class="form-group d-flex mb-3">
                              <div class="col-sm-6">
                                <div class="form-check">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="checkbox-signin"
                                    checked
                                  />
                                  <label
                                    class="form-check-label"
                                    for="checkbox-signin"
                                    >Remember me</label
                                  >
                                </div>
                              </div>
                              <div class="col-sm-6 text-end">
                                <a
                                  class="text-muted fs-14"
                                  href="{% url 'password_reset' %}"
                                  >Forgot password?</a
                                >
                              </div>
                            </div>

                            <div class="form-group mb-0 row">
                              <div class="col-12">
                                <div class="d-grid">
                                  <button
                                    class="btn btn-primary fw-semibold"
                                    type="submit"
                                  >
                                    Log In
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>

                          <div class="text-center text-muted mt-4">
                            <p class="mb-0">
                              Don't have an account ?<a
                                class="text-primary ms-2 fw-medium"
                                href="/dusty/html/auth-register"
                                >Join us Now</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-7 d-none d-xl-inline-block">
            <div class="account-page-bg rounded-4">
              <div class="text-center">
                <div class="auth-image">
                  <img
                    src="{% static 'img/logos.png' %}"
                    class="mx-auto img-fluid"
                    alt="images"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END wrapper -->

    <!-- Vendor -->
    {% include "assets/js.html" %}
  </body>
</html>
