# Django settings
capacity/settings.py

# Django migrations
accounts/migrations/*
dashboard/migrations/*
resources/migrations/*
training/migrations/*
xcom/migrations/*
trainers/migrations/*
championship/migrations/*



# Media and uploaded files (one level up)
profile/
trainer_photos/
trainee_photos/
champie_photos/