.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-container {
  background-image: url(https://e0.pxfuel.com/wallpapers/191/823/desktop-wallpaper-island-nature-landscape-beach-deserted-island-sea-water-and-mobile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .carod {
    width: 80%;
    padding: 20px;
    backdrop-filter: blur(0.5em);
    background-color: #ffffff0f;
    border-radius: 30px;
    .imagebox {
      flex-direction: column;
      text-align: center;
    }
    .px-5 {
      .foomu {
        .form-group {
          .shurt {
            input {
              border: 0;
              outline: none;
            }
          }
        }
      }
    }
  }
}
