{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Officials{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew content-wrapper">
  <div class="schooler">
    <form
      action=""
      method="POST"
      class="form-control"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="schooled">
        <div class="col-md-6s">
          {{ form.non_field_errors }} {{ form.errors }}
          <!---->
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li
              class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}"
            >
              {{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="row">
            <div class="col-md-3">
              <label for="photo">{{form.photo.label}}</label>
              {{form.photo}}
            </div>
            <div class="col-md-9">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label>First Name</label>
                  {{form.first_name}}
                </div>
                <div class="col-md-6">
                  <label>Last Name</label>
                  {{form.last_name}}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label>School</label>
                  {{form.place}}
                </div>

                <div class="col-md-6">
                  <label>Phone:</label>
                  {{form.contact}}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label>Email:</label>
                  {{form.email}}
                </div>

                <div class="col-md-6">
                  <label>gender</label>
                  {{form.gender}}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <label>Course</label>
                  {{form.course}}
                </div>
                <div class="col-md-4">
                  <label>Venue</label>
                  {{form.venue}}
                </div>
                <div class="col-md-4">
                  <label>Level</label>
                  {{form.level}}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <label>Date of birth</label>
                  {{form.date_of_birth}}
                </div>

                <div class="col-md-4">
                  <label>Designation</label>
                  {{form.designation}}
                </div>
                </div>

              <div class="row mb-3">
                <div class="col-md-4">
                  <label>District/ City/ Municipality</label>
                  {{form.district}}
                </div>
                <div class="col-md-4">
                  <label>Residence</label>
                  {{form.residence_type}}
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
