<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>Official Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A fully featured Capacity building which can be used to build CRM, CMS, etc."
    />
    <meta name="author" content="USSSA" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png'%}" />

    <!-- App css -->

    {% include "assets/css.html" %}
  </head>

  <body>
    <!-- Begin page -->
    <div class="account-page">
      <div class="container-fluid p-0">
        <div class="row align-items-center g-0 px-3 py-3 vh-100">
          <div class="col-xl-5">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <div class="mb-0 p-0 p-lg-3">
                      <div class="mb-0 border-0 p-md-4 p-lg-0">
                        <div class="mb-3 p-0 text-center">
                          <div class="auth-brand">
                            <a class="logo logo-light" href="/">
                              <span class="logo-lg">
                                <img
                                  src="{% static 'img/logo.png'%}"
                                  alt=""
                                  height="24"
                                />
                              </span>
                            </a>
                            <a class="logo logo-dark" href="/">
                              <span class="logo-lg">
                                <img
                                  src="{% static 'img/logo-lg.png'%}"
                                  alt=""
                                  height="60"
                                />
                              </span>
                            </a>
                          </div>
                        </div>

                        <div class="auth-title-section mb-4 text-center">
                          <h3 class="text-primary fw-semibold mb-1">
                            ELITE CHAMPIONSHIP 2026
                          </h3>
                          <p class="text-muted fs-14 mb-0">
                            Registration for officials.
                          </p>
                        </div>

                        <div class="pt-0">
                          <form
                            action=""
                            method="POST"
                            class="my-4"
                            enctype="multipart/form-data"
                          >
                            {% csrf_token %}
                            <div class="form-group mb-3">
                              {% if messages %}
                              <ul class="messages">
                                {% for message in messages %}
                                <li
                                  class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}"
                                >
                                  {{ message }}
                                </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            <div class="imgbox">
                              <div class="field">
                                <label>{{form.photo.label}} </label>
                                <div
                                  id="photos_preview"
                                  class="preview-container"
                                ></div>
                              </div>
                              <div class="field">
                                <input
                                  type="file"
                                  name="photo"
                                  accept="image/*"
                                  id="id_photo"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <label for="first_name" class="form-label"
                              >First Name</label
                            >
                            <input
                              class="form-control"
                              name="first_name"
                              type="text"
                              id="first_name"
                              required=""
                              placeholder="First Name"
                            />

                            <div class="form-group mb-3">
                              <label for="last_name" class="form-label"
                                >Last Name</label
                              >
                              <input
                                class="form-control"
                                type="last_name"
                                id="last_name"
                                required=""
                                placeholder="Last Name"
                              />
                            </div>

                            <div class="form-group mb-3">
                              <label for="comittee" class="form-label"
                                >Sport</label
                              >
                              <input
                                class="form-control"
                                type="comittee"
                                required=""
                                id="comittee"
                                placeholder="Enter your Sport"
                              />
                            </div>

                            <div class="form-group mb-3">
                              <label for="role" class="form-label">Role</label>
                              <input
                                class="form-control"
                                type="role"
                                required=""
                                id="role"
                                placeholder="Enter your role"
                              />
                            </div>

                            <div class="form-group mb-0 row">
                              <div class="col-12">
                                <div class="d-grid">
                                  <button class="btn btn-primary" type="submit">
                                    Register
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-7 d-none d-xl-inline-block">
            <div class="account-page-bg rounded-4">
              <div class="text-center">
                <div class="auth-image">
                  <img
                    src="{% static 'img/logos.png' %}"
                    class="mx-auto img-fluid"
                    alt="images"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END wrapper -->

    <!-- Vendor -->

    {% include "assets/js.html" %}
  </body>
</html>
