<!DOCTYPE html>
{% load static %}
<head>

    <meta charset="utf-8" />
    <title>Dashboard | {% block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured Capacity building which can be used to build CRM, CMS, etc."/>
    <meta name="author" content="USSSA"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png'%}">

    <!-- App css -->

    {% include "assets/css.html" %}
</head>

  <body data-menu-color="dark" data-sidebar="default">
    <!-- Begin page -->
    <div id="app-layout">
      <!-- Topbar Start -->
      <div class="topbar-custom">
        <div class="container-fluid">
          <div class="d-flex justify-content-between">
            <ul
              class="list-unstyled topnav-menu mb-0 d-flex align-items-center"
            >
              <li>
                <button class="button-toggle-menu nav-link">
                  <i data-feather="menu" class="noti-icon"></i>
                </button>
              </li>
              <li class="d-none d-lg-block">
                <form class="app-search d-none d-md-block me-auto">
                  <div class="position-relative topbar-search">
                    <input
                      type="text"
                      class="form-control ps-4"
                      placeholder="Search..."
                    />
                    <iconify-icon
                      icon="solar:minimalistic-magnifer-outline"
                      class="align-middle fs-14 position-absolute text-muted top-50 translate-middle-y ms-2"
                    ></iconify-icon>
                  </div>
                </form>
              </li>
            </ul>

            <ul
              class="list-unstyled topnav-menu mb-0 d-flex align-items-center"
            >
    

              <!-- Button Trigger Customizer Offcanvas -->
              <li class="d-none d-sm-flex">
                <button
                  type="button"
                  class="btn nav-link"
                  data-toggle="fullscreen"
                >
                  <iconify-icon
                    icon="solar:minimize-square-outline"
                    class="fs-24 align-middle"
                  ></iconify-icon>
                </button>
              </li>

              <!-- Light/Dark Mode Button Themes -->
              <li class="d-none d-sm-flex">
                <button type="button" class="btn nav-link" id="light-dark-mode">
                  <iconify-icon
                    icon="solar:moon-outline"
                    class="fs-24 align-middle dark-mode"
                  ></iconify-icon>
                  <iconify-icon
                    icon="solar:sun-2-outline"
                    class="fs-24 align-middle light-mode"
                  ></iconify-icon>
                </button>
              </li>

              <li class="dropdown notification-list topbar-dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="false"
                  aria-expanded="false"
                >
                  <iconify-icon
                    icon="solar:bell-bing-outline"
                    class="fs-24 align-middle light-mode"
                  ></iconify-icon>
                  <span class="badge bg-danger rounded-circle noti-icon-badge"
                    >9</span
                  >
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-lg">
                  <!-- item-->
                  <div class="dropdown-item noti-title">
                    <h5 class="m-0 fs-16 fw-semibold">
                      <span class="float-end"
                        ><a href="javascript:void(0);" class="text-dark fs-14"
                          ><small class="text-primary"
                            >Make all as read</small
                          ></a
                        ></span
                      >Notification
                    </h5>
                  </div>

                  <div class="noti-scroll" data-simplebar>
                    <!-- item-->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item text-muted link-primary"
                    >
                      <div class="d-flex align-items-center">
                        <div class="notify-icon">
                          <img
                            src="{% static 'img/profile.png'%}"
                            class="img-fluid rounded-circle"
                            alt=""
                          />
                        </div>
                        <div class="flex-grow-1">
                          <div
                            class="d-flex align-items-center justify-content-between mb-1"
                          >
                            <p class="notify-details mb-0">Carl Steadham</p>
                            <iconify-icon
                              icon="solar:record-bold"
                              class="fs-12 text-primary align-middle light-mode"
                            ></iconify-icon>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <p class="text-muted mb-0">Thursday 4:20pm</p>
                            <p class="text-muted mb-0">2 hours ago</p>
                          </div>
                        </div>
                      </div>
                    </a>

                    <!-- item-->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item text-muted link-primary"
                    >
                      <div class="d-flex align-items-start">
                        <div class="notify-icon">
                          <img
                            src="{% static 'img/profile.png'%}"
                            class="img-fluid rounded-circle"
                            alt=""
                          />
                        </div>
                        <div class="flex-grow-1">
                          <div
                            class="d-flex align-items-center justify-content-between mb-1"
                          >
                            <p class="notify-details mb-0">Carl Steadham</p>
                            <iconify-icon
                              icon="solar:record-bold"
                              class="fs-12 text-primary align-middle light-mode"
                            ></iconify-icon>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between mb-1"
                          >
                            <p class="text-muted mb-0">Thursday 4:00pm</p>
                            <p class="text-muted mb-0">1 hours ago</p>
                          </div>
                          <div class="p-2 rounded-2 bg-light">
                            <p class="text-dark mb-0">
                              Love the background on this! <br />
                              Would love to learn
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>

                    <!-- item-->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item text-muted link-primary"
                    >
                      <div class="d-flex align-items-center">
                        <div class="notify-icon">
                          <img
                            src="{% static 'img/profile.png'%}"
                            class="img-fluid rounded-circle"
                            alt=""
                          />
                        </div>
                        <div class="flex-grow-1">
                          <div
                            class="d-flex align-items-center justify-content-between mb-1"
                          >
                            <p class="notify-details mb-0">Eleanor Mac</p>
                            <iconify-icon
                              icon="solar:record-bold"
                              class="fs-12 text-primary align-middle light-mode"
                            ></iconify-icon>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <p class="text-muted mb-0">Thursday 3:20pm</p>
                            <p class="text-muted mb-0">3 hours ago</p>
                          </div>
                        </div>
                      </div>
                    </a>

                    <!-- item-->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item text-muted link-primary"
                    >
                      <div class="d-flex align-items-start">
                        <div class="notify-icon">
                          <img
                            src="{% static 'img/profile.png'%}"
                            class="img-fluid rounded-circle"
                            alt=""
                          />
                        </div>
                        <div class="flex-grow-1">
                          <div
                            class="d-flex align-items-center justify-content-between mb-1"
                          >
                            <p class="notify-details mb-0">Ollie diggs</p>
                            <iconify-icon
                              icon="solar:record-bold"
                              class="fs-12 text-primary align-middle light-mode"
                            ></iconify-icon>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between mb-2"
                          >
                            <p class="text-muted mb-0">Thursday 3:44pm</p>
                            <p class="text-muted mb-0">2 hours ago</p>
                          </div>
                          <div class="d-flex align-items-center gap-1">
                            <button
                              type="button"
                              class="btn btn-sm bg-white border"
                            >
                              Decline
                            </button>
                            <button
                              type="button"
                              class="btn btn-sm btn-primary"
                            >
                              Accept
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- All-->
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item text-center text-primary notify-item notify-all fw-bold border-top border-light"
                    >View all
                    <i class="fe-arrow-right"></i>
                  </a>
                </div>
              </li>

              <!-- User Dropdown -->
              <li class="dropdown notification-list topbar-dropdown">
                <a
                  class="nav-link dropdown-toggle nav-user me-0"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="false"
                  aria-expanded="false"
                >
                {% if user.profile.photo %}
                  <img
                    src="{{user.profile.photo.url}}"
                    alt="user-image"
                    class="rounded-circle"
                  />{% else %}
                  <img
                    src="{% static 'img/profile.png'%}"
                    alt="user-image"
                    class="rounded-circle"
                  />{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-end profile-dropdown">
                  <!-- item-->
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome {{user.first_name}}!</h6>
                  </div>

                  <!-- item-->
                  <a
                    class="dropdown-item notify-item rounded-2"
                    href=""
                  >
                    <iconify-icon
                      icon="solar:shield-user-outline"
                      class="fs-18 align-middle"
                    ></iconify-icon>
                    <span>Profile</span>
                  </a>

                  <!-- item-->
                  <a
                    class="dropdown-item notify-item rounded-2"
                    href="/dusty/html/pages-profile"
                  >
                    <iconify-icon
                      icon="solar:settings-linear"
                      class="fs-18 align-middle"
                    ></iconify-icon>
                    <span>Setting</span>
                  </a>

                  <!-- item-->
                  <a
                    class="dropdown-item notify-item rounded-2"
                    href="/dusty/html/auth-lock-screen"
                  >
                    <iconify-icon
                      icon="solar:lock-keyhole-outline"
                      class="fs-18 align-middle"
                    ></iconify-icon>
                    <span>Lock Screen</span>
                  </a>

                  <!-- item-->
                  <a
                    class="dropdown-item notify-item rounded-2"
                    href="{% url 'logout' %}"
                  >
                    <iconify-icon
                      icon="solar:login-3-outline"
                      class="fs-18 align-middle"
                    ></iconify-icon>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end Topbar -->

      <!-- Left Sidebar Start -->
      <div class="app-sidebar-menu">
        <div class="h-100" data-simplebar>
          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <div class="logo-box">
              <a class="logo logo-light" href="/dusty/html/">
                <span class="logo-sm">
                  <img src="{% static 'img/logo.png'%}" alt="" height="22" />
                </span>
                <span class="logo-lg">
                  <img src="{% static 'img/logo-lg.png'%}" alt="" height="35" />
                </span>
              </a>
              <a class="logo logo-dark" href="/dusty/html/">
                <span class="logo-sm">
                  <img src="{% static 'img/logo.png'%}" alt="" height="22" />
                </span>
                <span class="logo-lg">
                  <img src="{% static 'img/logo-lg.png'%}" alt="" height="35" />
                </span>
              </a>
            </div>

            <ul id="side-menu">
              <li class="menu-title">Menu</li>

              <li>
                <a href="#sidebarDashboards" data-bs-toggle="collapse">
                  <span class="nav-icon">
                    <iconify-icon
                      icon="solar:home-2-bold-duotone"
                    ></iconify-icon>
                  </span>
                  <span> Dashboard </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarDashboards">
                  <ul class="nav-second-level">
                    <li>
                      <a class="tp-link" href="{% url 'comisers'%}">Officials</a>
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/analytics"
                        >Analytics</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-title mt-2">Apps</li>

              <li>
                <a class="tp-link" href="{% url 'seasons' %}">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:bill-list-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Seasons </span>
                </a>
              </li>

              <li>
                <a class="tp-link" href="{% url 'venues' %}">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:shield-user-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Venues </span>
                </a>
              </li>

              <li>
                <a class="tp-link" href="{% url 'courses' %}">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:calendar-minimalistic-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Courses </span>
                </a>
              </li>

              <li class="menu-title">TRAINEES</li>
              
              <li>
                <a class="tp-link" href="{% url 'xtrainees' %}">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:cpu-bolt-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> XTrainees </span>
                </a>
              </li>

              <li>
                <a class="tp-link" href="">
                 <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:clipboard-text-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> AGM </span>
                </a>
              </li>

              <li>
                <a class="tp-link" href="">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:lock-keyhole-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> TorORo </span>
                </a>
              </li>



              <li class="menu-title mt-2">Trainees</li>

              <li>
                <a href="#sidebarBaseui" data-bs-toggle="collapse">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:compass-square-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Trainees </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarBaseui">
                  <ul class="nav-second-level">
                    <li>
                      <a class="tp-link" href="{% url 'trainees' %}"
                        >Active Trainees</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="">Archives</a>
                    </li>
                    <li>
                      <a class="tp-link" href="">Non Paid</a>
                    </li>
                    
                  </ul>
                </div>
              </li>

              <li>
                <a href="#sidebarForms" data-bs-toggle="collapse">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:document-add-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Forms </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarForms">
                  <ul class="nav-second-level">
                    <li>
                      <a class="tp-link" href="/dusty/html/forms-elements"
                        >General Elements</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/forms-validation"
                        >Validation</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/forms-quilljs"
                        >Quilljs Editor</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/forms-pickers"
                        >Picker</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <a href="#sidebarTables" data-bs-toggle="collapse">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:siderbar-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Tables </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTables">
                  <ul class="nav-second-level">
                    <li>
                      <a class="tp-link" href="/dusty/html/tables-basic"
                        >Basic Tables</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/tables-datatables"
                        >Data Tables</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <a href="#sidebarCharts" data-bs-toggle="collapse">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:pie-chart-2-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Apex Charts </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCharts">
                  <ul class="nav-second-level">
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-area">Area</a>
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-bar">Bar</a>
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-boxplot"
                        >Boxplot</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-bubble"
                        >Bubble</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-candlestick"
                        >Candlestick</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-column"
                        >Column</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-funnel"
                        >Funnel</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-heatmap"
                        >Heatmap</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-line">Line</a>
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-mixed"
                        >Mixed</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-pie">Pie</a>
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-polararea"
                        >Polar</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-radar"
                        >Radar</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-radialbar"
                        >Radialbar</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-rangearea"
                        >Range Area</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-scatter"
                        >Scatter</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-timeline"
                        >Timeline</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/charts-treemap"
                        >Treemap</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <a href="#sidebarMaps" data-bs-toggle="collapse">
                  <span class="nav-icon"
                    ><iconify-icon
                      icon="solar:map-point-bold-duotone"
                    ></iconify-icon
                  ></span>
                  <span> Maps </span>
                  <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarMaps">
                  <ul class="nav-second-level">
                    <li>
                      <a class="tp-link" href="/dusty/html/maps-google"
                        >Google Maps</a
                      >
                    </li>
                    <li>
                      <a class="tp-link" href="/dusty/html/maps-vector"
                        >Vector Maps</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- End Sidebar -->

          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Left Sidebar End -->


      <div class="content-page">
   
      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->
{% block content %}{% endblock  %}
        <!-- Footer Start -->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col fs-13 text-muted text-center">
                &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                - Made with <span class="mdi mdi-heart text-danger"></span> by
                <a href="#!" class="text-reset fw-semibold">Shafiq</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- end Footer -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
 
    {% include "assets/js.html" %}
  </body>
</html>
